<!DOCTYPE html>
<html>
<head lang="en">

    {% load staticfiles %}
    <link rel="stylesheet" type="text/css" href="{% static 'taric_books/style.css' %}" />
    <meta charset="UTF-8">
    <title>TARIC</title>
</head>
<body>
{%  include "taric_books/header.html" %}

<!-- cuerpo -->
<div id="main_body">
    <h1>About this Project</h1>

    <p>
        Reto Taric, a web application written in Python under Django.
        This application was developed by Guillermo Jimenez.
    </p>



</div><!-- /cuerpo -->

{%  include "taric_books/footer.html" %}

</body>
</html>
