<!DOCTYPE html>
<html>
<head lang="en">

    {% load staticfiles %}
    <link rel="stylesheet" type="text/css" href="{% static 'taric_books/style.css' %}" />
    <meta charset="UTF-8">
    <title>TARIC</title>
</head>
<body>
{%  include "taric_books/header.html" %}

<!-- cuerpo -->
<div id="main_body">
    <h1>GITHUB</h1>

    To get the source code please, follow the link to visit
    <a href="http://github.com/geonexus/reto_taric">Github</a>


</div><!-- /cuerpo -->

{%  include "taric_books/footer.html" %}

</body>
</html>
