<header>
    <div id="background">
        <div id="sup_container">
            <div id="header">
                {% load staticfiles %}
                <img id="imglogo" src='{% static 'taric_books/images/logo-taric1.png' %}' alt="Taric Logo" />
                <div class="wrapper">
                    <nav>
                        <a href="/taric_books">Search</a>
                        <a href="/taric_books/taric">Taric</a>
                        <a href="/taric_books/github">Github</a>
                        <a href="/taric_books/about">About this project</a>
                    </nav>
                </div>
            </div>
        </div>
    </div>
</header>
