<!DOCTYPE html>
<html>
<head lang="en">

    {% load staticfiles %}
    <link rel="stylesheet" type="text/css" href="{% static 'taric_books/style.css' %}" />
    <meta charset="UTF-8">
    <title>Search Books</title>
</head>
<body>
{%  include "taric_books/header.html" %}

<!-- cuerpo -->
<div id="main_body">
 <h1>TARIC BOOKS</h1>

    <form id="form-wrapper" class="form-wrapper" action="{% url 'search' %}" method="post">
    {% csrf_token %}
            {{ form_type.as_p }}
            {{ form_value.as_p }}
            <button type="submit" id="sub_button">Search</button>

</form>
</div><!-- /cuerpo -->

{%  include "taric_books/footer.html" %}

</body>
</html>
