<!DOCTYPE html>
<html>
    <head lang="en">
        {% load staticfiles %}
        <link rel="stylesheet" type="text/css" href="{% static 'taric_books/style.css' %}" />
        <meta charset="UTF-8">
        <title>Search Books</title>
    </head>
    <body>
        {%  include "taric_books/header.html" %}
        <div id="main_body">
            {% for book in book_details %}
            <div align="center">
                {% if cover_url %}
                    <img src="{{ cover_url }}" alt="No cover" border="1"/>
                {% else %}
                    <img src="{% static "taric_books/no_cover.jpg" %}" alt="No cover" border="1"/>
                {% endif %}
            </div>
            <table class="book_details">
                <tbody>
                    <tr>
                        <th scope="row">ISBN13</th>
                        <td>{{ book.isbn13 }}</td>
                    </tr>
                    <tr>
                        <th scope="row">Title</th>
                        <td>{{ book.title_latin }}</td>
                    </tr>
                    <tr>
                        <th scope="row">Author Data</th>
                        <td>{% for data in book.author_data %}
                                {{ data.name }}
                            {% endfor %}
                        </td>
                    </tr>
                    <tr>
                        <th scope="row">Publisher</th>
                        <td>{{ book.publisher_name }}</td>
                    </tr>
                    <tr>
                        <th scope="row">Subjets</th>
                        <td>{% for data in book.subject_ids %}
                                {{ data }}
                            {% endfor %}
                        </td>
                    </tr>
                    <tr>
                        <th scope="row">Summary</th>
                        <td>{{ book.summary }}</td>
                    </tr>
                    <tr>
                        <th scope="row">Edition</th>
                        <td>{{ book.edition_info }}</td>
                    </tr>
                    <tr>
                        <th scope="row">Book Details</th>
                        <td>{{ book.details }} <br/>
                            {{ book.physical_description_text }}
                        </td>
                    </tr>
                    <tr>
                        <th scope="row">ISBN10</th>
                        <td>{{ book.isbn10 }}</td>
                    </tr>
                </tbody>
            </table>
             {% endfor %}
        </div>
        {%  include "taric_books/footer.html" %}
    </body>
</html>
