<!DOCTYPE html>
<html>
    <head lang="en">
        {% load staticfiles %}
        <link rel="stylesheet" type="text/css" href="{% static 'taric_books/style.css' %}" />
        <meta charset="UTF-8">
        <title>Search Books</title>
    </head>
    <body>
        {%  include "taric_books/header.html" %}
        <div id="main_body">
            {% for book in book_details %}
            <div align="center">
                {% if cover_url %}
                    <img src="{{ cover_url }}" alt="No cover" border="1"/>
                {% else %}
                    <img src="{% static "taric_books/no_cover.jpg" %}" alt="No cover" border="1"/>
                {% endif %}
            </div>
            <table class="book_details">
                <tbody>
                    {% for key, value in book.items %}
                       {% if value %}
                        <tr>
                            <th scope="row">{{ key }}</th>
                            <td>{{ value }}</td>
                        </tr>
                        {% endif %}
                    {% endfor %}
                </tbody>
            </table>
             {% endfor %}
        </div>
        {%  include "taric_books/footer.html" %}
    </body>
</html>
